/* = Presets
-----------------------------------------------*/

	* {
	  -webkit-font-smoothing: antialiased;
	  text-rendering: optimizeLegibility; 
	}


/* = Extra Sizing
----------------------------------------------- */

	@media only screen and (max-width: 479px) {
		.show-xxs{
			display:block !important;
		}
		
		.hidden-xxs{
			display:none !important;
		}
	
		.col-xxs-3{
			width:25% !important;
			display:block !important;
		}
	
		.col-xxs-4{
			width:33.33333333% !important;
			display:block !important;
		}
		
		.col-xxs-6{
			width:50% !important;
			display:block !important;
		}
	
		.col-xxs-12{
			width:100% !important;
			clear:both !important;
			display:block !important;
		}
	}


/* = HTML & Body
-----------------------------------------------*/

	html, 
	body {
		background:#F6F6F6;
		
		width:100%;
		min-width:300px;
		height:100% !important;
		min-height:100%;
		
		color:#777777;
		font-family:'gotham-book', Arial, Helvetica, sans-serif;
		font-size:25px;
		font-weight:normal;
		line-height:40px;
		text-align:center;
		
		margin:0px auto;
		padding:0px;
		border:0px none;
	}
	
	html {
	}
	
	body {
	}

	.js-stopScrolling{
	  height: 100%;
	  overflow: hidden;
	}


/* = Standards
-----------------------------------------------*/

	/* Titles */
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		font-family:'gotham-medium', Arial, Helvetica, sans-serif;
		font-style:normal;
		font-weight:bold;	
			
		margin:0px auto;
		padding:47px 0px 7px;
	}
	
		h1{
			color:#000000;
			font-size:45px;
			line-height:60px;
		}
	
		h2{
			font-size:35px;
			line-height:50px;
		}
	
		h3,
		h4,
		h5,
		h6{
			font-size:25px;
			line-height:40px;
		}
	
	p{
		color:inherit;
		font-family:inherit;
		font-size:25px;
		font-style:normal;
		font-weight:normal;
		line-height:40px;	
			
		margin:0px auto;
		padding:7px 0px;
	}
	
	
	/* Lists */
	ul, 
	ol{
		margin:30px auto;
		padding:0px 30px;
	}
	
		li{
			color:inherit;
			font-family:inherit;
			font-size:inherit;
			font-style:normal;
			font-weight:normal;
			line-height:inherit;
			margin:15px auto;
		}
	
	ul{
		list-style-image:url('../img/bullet-lg.png');
	}

		ul li{
			padding-left:10px;
		}
	
	
	/* Emphasis */
	strong, b{
		font-family:'gotham-bold', Arial, Helvetica, sans-serif;
		font-style:normal;
		font-weight:normal;
	}
	
	i, em{
		font-style:italic;
		font-weight:normal;
	}
	
	strong i, strong em,
	i strong, em strong {
		font-family:'gotham-bold', Arial, Helvetica, sans-serif;
		font-style:italic;
		font-weight:normal;
	}
	

	/* Links */
	a,
	a:link,
	a:active,
	a:visited {
		color:inherit;
		font-family:inherit;
		text-decoration:none;
		outline:none !important;
			
		opacity:1;
		
		-webkit-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
		transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1); 
	}
	
		a:hover {
			color:inherit;
			font-family:inherit;
			text-decoration:none;
			outline:none !important;
			
			opacity:0.75;
		
			-webkit-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-moz-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-o-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
			transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1); 
		}

	p a,
	p a:link,
	p a:active,
	p a:visited 
	p a:hover {
		color:#000000 !important;
		font-family:'gotham-bold', Arial, Helvetica, sans-serif;
		text-decoration:underline;
	}
	
	
	/* Line Break */
	hr{
		background:#EEEEEE;
		
		width:100%;
		height:1px;
		
		display:inline-block;
		
		font-size:1px;
		line-height:1px;
		
		margin:0px auto;
		padding:0px;
		border:0px none;	
	}


	/* Media Queries */
	@media only screen and (max-width:1199px){
		html,
		body,
		p,
		li{
			font-size:20px;
			line-height:35px;	
		}
	
		h1{
			font-size:40px;
			line-height:55px;
		}
	
		h2{
			font-size:30px;
			line-height:45px;
		}
	
		h3,
		h4,
		h5,
		h6{
			font-size:20px;
			line-height:35px;
		}
	
		ul{
			list-style-image:url('../img/bullet-md.png');
		}

			ul li{
				padding-left:7px;
			}
	
	}
	
	@media only screen and (max-width:991px){
		html,
		body,
		p,
		li{
			font-size:15px;
			line-height:30px;	
		}
	
		h1{
			font-size:35px;
			line-height:50px;
		}
	
		h2{
			font-size:25px;
			line-height:40px;
		}
	
		h3,
		h4,
		h5,
		h6{
			font-size:15px;
			line-height:30px;
		}
	
		ul{
			list-style-image:url('../img/bullet-sm.png');
		}

			ul li{
				padding-left:4px;
			}

	}
	
	@media only screen and (max-width:767px){
	}



	/* Form Elements */
	label {
		width:100%;
		height:auto;
		min-height:46px;
		
		color:inherit;
		font-family:inherit;
		font-weight:normal;
		font-size:17px;
		font-style:normal;
		line-height:27px;
		text-transform:uppercase;	
			
		margin:17px auto 0px;
		padding:10px 0px 19px;
	}

	@media only screen and (max-width: 1240px){
		label {
			font-size:15px;	
		}
	}
	
	@media only screen and (max-width: 991px){
		label {
			font-size:13px;	
		}
	}
	
	@media only screen and (max-width: 767px){
		label {
			font-size:11px;	
		}
	}
	
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="file"],
	input[type="number"],
	textarea{
		background:#FFFFFF;
		
		width:100%;
		height:46px;
		
		display:block;
		position:relative;
		overflow:hidden;
		
		color:#05A6EB;
		
		margin:17px auto 0px;
		padding:0px 15px;
		border:0px none;
		border-top:3px solid #FFFFFF;
		border-bottom:3px solid #868686;
			
		outline:none;
	}
	
	textarea{
		height:150px;
		min-height:150px;
		padding:10px 15px;	
		resize:none;
	}
	
		input[type="text"]:hover,
		input[type="email"]:hover,
		input[type="tel"]:hover,
		input[type="file"]:hover,
		input[type="number"]:hover,
		textarea:hover{
			background:#FFFFFF;
			color:#05A6EB;
			border-top:3px solid #FFFFFF;
			border-bottom:3px solid #05A6EB;
		}
	
		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="file"]:focus,
		input[type="number"]:focus,
		textarea:focus{
			background:#FFFFFF;
			color:#05A6EB;
			border-top:3px solid #FFFFFF;
			border-bottom:3px solid #B4E3F7;
		}
	
		input[type="text"]:focus:hover,
		input[type="email"]:focus:hover,
		input[type="tel"]:focus:hover,
		input[type="file"]:focus:hover,
		input[type="number"]:focus:hover,
		textarea:focus:hover{
			background:#FFFFFF;
			color:#05A6EB;
			border-top:3px solid #FFFFFF;
			border-bottom:3px solid #05A6EB;
			outline:none;
		}

	.styled-select {
		background:url('../img/styled-select-arrow.png') no-repeat center right #FFFFFF;
		background-size:52px 46px;
		
		width:100%;
		height:46px; 
		
		display:block;
		position:relative;
		overflow:hidden;
		
		margin:17px auto 0px;
		padding:0px 0px 0px 0px;
		border:0px auto;
		border:1px solid #CCCCCC;
	}
	@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
		.styled-select {
			background-image:url('../img/styled-select-arrow@2x.png');
		}
	}
	
	.styled-select:hover {
		border:1px solid #CCCCCC;
	}
	
		.styled-select select{
			background:transparent;
			
			width:120%;
			height:44px;
			
			display:block;
			position:relative;
		
			color:#848484;
		   
			margin:0px auto;
			padding:0px 15px;
			border:0px none;
			border-top:3px solid #FFFFFF;
			border-bottom:3px solid #FFFFFF; 
			
			border-radius:0;
			
			-webkit-appearance:none;
	
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
		
		.styled-select select:focus{
			outline:none;
	
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
		
	@media(max-width: 479px){
		.styled-select {
			width:100%;
		}
	}

	input[type="checkbox"]{
		margin:4px 4px 20px 0px;
	}

	input[type="submit"]{
		background:url('../img/arrow-right-white.png') right 35px center no-repeat #70C51D; 
		background-size:15px 23px;
		
		width:auto;
		height:auto;
		
		display:inline-block;
		
		color:#FFFFFF;
		font-size:22px;
		line-height:32px;
		letter-spacing:2px;
		text-decoration:none;
		text-transform:uppercase;
		
		margin:47px auto;
		padding:20px 85px 20px 70px;
		border:0px none;
			
		-webkit-border-radius:100px;
		-moz-border-radius:100px;
		border-radius:100px;	
			
		outline:none;
	}
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) { 
		input[type="submit"]{
			background-image:url('../img/arrow-right-white@2x.png');
		}
	}
	
		input[type="submit"]:active,
		input[type="submit"]:hover,
		input[type="submit"]:focus,
		input[type="submit"]:focus:hover{
			opacity:0.8;
		}
	
	@media only screen and (max-width: 767px) {
		input[type="submit"]{
			font-size:16px; 
			padding:15px 70px 15px 40px;
		}
	}
	
	form img.ajax-loader{
		margin-top: initial;
		position:absolute;
		top:0px;
		left: 50%;
		z-index:20;
		margin-left:-8px;
	}
	
	
	/* Checkboxes */
	.checkbox-holder {
		width:100%;
		height:32px;
		
		position:relative;
		display:block;
		clear:both;
		
		margin:17px auto 0px;
		padding:0px;
		border:0px none;
	}
	
		.checkbox-holder span.wpcf7-form-control-wrap,
		.checkbox-holder span.wpcf7-form-control,
		.checkbox-holder span.wpcf7-list-item,
		.checkbox-holder label{
			width:32px;
			height:32px;
			
			float:left;
			display:block;
			clear:none;
			
			position:absolute;
			top:0px;
			left:0px;
			
			font-size:32px;
			line-height:32px;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}
		
			.checkbox-holder input[type=checkbox] {
				display:none;
			}
			
			.checkbox-holder input[type=checkbox] + span.wpcf7-list-item-label {
				background:url('../img/icon-checkbox.png') center center no-repeat #FFFFFF;
				background-size:32px 32px;
				
				width:32px !important;
				height:32px;
				
				display:block;
				position:absolute;
				left:0px;
				top:0px;
				
				color:#FFFFFF;
				font-size:0px;
				text-align:left;
				text-indent:-9999;
				text-transform:uppercase;
				
				margin:0px auto;
				padding:0px;
				border:1px solid #CCCCCC;
				
				vertical-align:middle;
				cursor: pointer;
				
				overflow:hidden;
			}
			
			.checkbox-holder p.checkbox-label{
				width:100%;
				height:32px;
				
				float:left;
				text-align:left;
				
				margin:0px auto;
				padding:2px 0px 2px 46px; 
				border:0px none;
			}

			 .checkbox-holder input[type=checkbox]:checked + span.wpcf7-list-item-label,
			  .checkbox-holder input[type=checkbox]:checked + span.wpcf7-list-item-label:hover{
				background-image:url('../img/icon-checkbox-selected.png');
			}
	
			@media only screen and (min--moz-device-pixel-ratio: 2),
			only screen and (-o-min-device-pixel-ratio: 2/1),
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (min-device-pixel-ratio: 2) {
				.checkbox-holder input[type=checkbox] + span.wpcf7-list-item-label{
					background-image:url('../img/icon-checkbox@2x.png');
				}
				 .checkbox-holder input[type=checkbox]:checked + span.wpcf7-list-item-label,
				 .checkbox-holder input[type=checkbox]:checked + span.wpcf7-list-item-label:hover{
					background-image:url('../img/icon-checkbox-selected@2x.png');
				}
			}
			
			@media screen and (max-width: 479px){
				.checkbox-holder input[type=checkbox] + span.wpcf7-list-item-label,
				.checkbox-holder input[type=checkbox] + span.wpcf7-list-item-label:hover,
				.checkbox-holder input[type=checkbox]:checked + spa.wpcf7-list-item-labeln,
				.checkbox-holder input[type=checkbox]:checked + span.wpcf7-list-item-label:hover{
					background-size:32px 32px;
					width:32px !important;
					height:32px;
				}
			}


	/* Messages */
	.wpcf7-response-output{
		background:#fefccb;
		
		width:50%;
		height:auto;	
		
		display:block;
		position:relative;
		clear:both;
		
		color:#6d7025;
		text-align:center;
		
		margin:0px auto 17px !important;
		padding:10px 15px !important;
		border:1px solid #6d7025;
	
		-webkit-border-radius:1px;
		-moz-border-radius:1px;
		border-radius:1px;
	}
	
		.wpcf7-response-output.wpcf7-validation-errors{
			background:#fed4d5;
			color:#851d28;
			border:1px solid #851d28;
		}
		
		.wpcf7-response-output.wpcf7-mail-sent-ok{
			background:#d4fecc;
			color:#2f7b21;
			border:1px solid #2f7b21;
		}
	
	input.wpcf7-not-valid,
	textarea.wpcf7-not-valid{
		background:#ffffff !important;
		border-bottom-color:#851d28 !important;
	}
	
		input.wpcf7-not-valid:focus,
		textarea.wpcf7-not-valid:focus{
			background:#ffffff !important;
			border-bottom-color:#1E77DA !important;
		}
		
	select.wpcf7-not-valid{
		border-bottom-color:#851d28 !important;
	}
	
		select.wpcf7-not-valid:focus{
			border-bottom-color:#FFFFFF !important;
		}
	
		span.wpcf7-not-valid-tip { 
			background: none;
			
			position:relative;
			display:block;
			top:auto;
			left:auto;
			
			color:#851d28;
			font-size:11px !important;
			line-height:16px !important;
			
			margin:5px 0px 0px 0px;
			padding:0px;
			border:0px none;
		}
		
		.accept-this span.wpcf7-not-valid-tip{
			width:280px;
			display:block !important;
			position:absolute;
			top:20px;
			left:22px;
			color:#851d28;
			font-size:13px;
		}
			

/* = Content
-----------------------------------------------*/
	
	/* -- General ---------- */
	section{
		width:100%;
		height:auto;
		
		display:block;
		position:relative;	
		clear:both;
		
		text-align:left;
		
		margin:70px auto 100px;
		padding:0px;
		border:0px none;
	}
					
	@media only screen and (max-width:767px){
		section{
			margin:20px auto 50px;
		}
	}
	
		.container{
		}
	
	
	/* -- Quotes ---------- */
	section.quotes{
		background:url('../img/background-quote-01.jpg'); no-repeat right center fixed #A8B6BF; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding:50px 0px 70px;
	}

	.quote{
		color:#FFFFFF;
	}

	.quote__quotation{}

	.quote__text{
		font-family:'gotham-bold', Arial, Helvetica, sans-serif !important;
	}

	.quote__divide{}

	.quote__author{}

	.quote__image{}
	
	@media only screen and (max-width:479px){
		.quote__quotation img,
		.quote__author img{
			width:29px;
			height:auto;
		}
	}
	
	/* -- Columns ---------- */
	.columns{
		margin:-70px auto -50px ;
	}
	
	
	/* -- Sectors ---------- */
	.sector{
	}
	
	.sector__text{
	}
	
	.sector__read-more{
	}
	
	.sector__more-text{
		display:none;
	}


	/* -- Home / About Page ---------- */
	section.home{
		background:url('../img/background.png'); no-repeat center center fixed #FEE800; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		width:100%;
		height:auto;
		min-height:100vh; /* 100% Viewport Height */
		
		display:block;
		position:relative;

		text-align:center;
		
		margin:0px auto;
		padding:0px;
		border:0px none;
	}

		.home__header-content{
			color:#000000;
			font-size:45px;
			font-family:'gotham-medium', Arial, Helvetica, sans-serif !important;
			letter-spacing:1px;
			line-height:60px;

			margin-top:7%;
			padding-top:70px;
			padding-bottom:100px;


		}

		.home__header-content img{
			width:100%;
			max-width:429px;
			height:auto;
		}

		@media only screen and (max-width:1199px){
			.home__header-content{
				font-size:40px;
				line-height:55px;
				margin-top:10%;
			}
			.home__header-content img{
				width:90%;
			}
		}

		@media only screen and (max-width:991px){
			.home__header-content{
				font-size:35px;
				line-height:50px;
			}
			.home__header-content img{
				width:70%;
			}
		}

		@media only screen and (max-width:767px){
			.home__header-content{
				font-size:25px;
				line-height:35px;
				margin-top:15%;
			}
			.home__header-content img{
				width:50%;
			}
		}


	
	/* Our People */
	.people__thumbnails{	
		margin-top:15px;
	}
	
		.people__thumbnail{
		}
				
		.people__thumbnail:nth-child(6n+1){
			clear:both;
		}
				
		@media only screen and (max-width:1199px){
			.people__thumbnail:nth-child(6n+1){
				clear:none;
			}
			.people__thumbnail:nth-child(4n+1){
				clear:both;
			}
		}
			
		@media only screen and (max-width:991px){
			.people__thumbnail:nth-child(4n+1){
				clear:none;
			}
			.people__thumbnail:nth-child(3n+1){
				clear:both;
			}
		}
		
		@media only screen and (max-width:479px){
			.people__thumbnail:nth-child(3n+1){
				clear:none;
			}
			.people__thumbnail:nth-child(2n+1){
				clear:both;
			}
		}

			.people__thumbnail a{
				width:100%;
				height:auto;
				
				display:block;
				position:relative;
				
				margin:15px auto;
				padding:0px;
				border:0px none;
			}

			.people__thumbnail a:hover{
				opacity:1.0;
			}

			.people__thumbnail img{
				width:100%;
				height:auto;
				
				display:block;
				position:relative;
				z-index:0;
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
			
			.people__thumbnail a .people__thumbnail-caption{
				background:rgba(0,0,0,0.9);
				
				width:100%;
				height:100%;
				
				display:flex;
				flex-direction:column;
				align-items:center;
				justify-content:center;
				
				position:absolute;
				z-index:10;
				top:0px;
				left:0px;
				
				color:#FFFFFF;	
				font-size:15px;
				line-height:20px;
				text-align:center;
				
				margin:0px auto;
				padding:15px;
				border:0px none;

				opacity:0;

				-webkit-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
				-moz-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
				-o-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
				transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1); 
			}

			.people__thumbnail a:hover .people__thumbnail-caption{
				opacity:1.0;

				-webkit-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
				-moz-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
				-o-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
				transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1); 
			}

			.people__thumbnail-caption span{
				width:100%;
		}


	.people__info{
		display:none;
		text-align:left;
	}

		.people__info img{
			width:100%;
			max-width:215px;
			height:auto;
			
			display:block;
			position:relative;
			z-index:0;
			
			margin:0px auto 25px;
			padding:0px;
			border:0px none;
		}

		.people__info-name{}

		.people__info-job{
		    font-size: 15px;
		    line-height: 25px;
		    margin-top:-15px;
		}

		.people__info-biography{}

		.people__info-biography p{
		    font-size: 15px;
		    line-height: 25px;
		}


	/* -- Contact Page ---------- */
	#google_map{
		background:#CCCCCC;
		
		width:100%;
		height:460px;
		
		position:relative;
		z-index:0;

		margin-bottom:100px;
	}

	.contact{}

		/* Contact Form */
		.contact__form{}
		
		.contact__form input[type='text'],
		.contact__form input[type='email'],
		.contact__form textarea{
			margin-top:0px;
		}

		.contact__form label{
			padding-bottom:0px;
		}

		.contact__form .wpcf7-not-valid-tip{
			color:#FFF35A;
		}
		
		.contact__form input.wpcf7-not-valid,
		.contact__form textarea.wpcf7-not-valid{
			border-bottom-color:#FFF35A !important;
		}


		/* Contact Address */
		.contact__address{}


		/* Contact Links */
		.contact__links{
			margin-top:-20px;
		}
		
		.contact__links span{
			background-size:32px 32px;
			background-position:left center;
			background-repeat:no-repeat;
			display:inline-block;
			padding:5px 0px 5px 45px;
		}
				
		@media only screen and (max-width:767px){
			.contact__links span{
				padding:0px 0px 0px 35px;
				background-size:22px 22px;
			}
		}
		
		.contact__links span.phone{
			background-image:url('../img/phone.png');
		}
		
		.contact__links span.email{
			background-image:url('../img/email.png');
		}
		
		.contact__links span.facebook{
			background-image:url('../img/facebook.png');
		}
		
		.contact__links span.twitter{
			background-image:url('../img/twitter.png');
		}
		
		.contact__links span.linkedin{
			background-image:url('../img/linkedin.png');
		}

		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) { 
		
			.contact__links span.phone{
				background-image:url('../img/phone@2x.png');
			}
			
			.contact__links span.email{
				background-image:url('../img/email@2x.png');
			}
			
			.contact__links span.facebook{
				background-image:url('../img/facebook@2x.png');
			}
			
			.contact__links span.twitter{
				background-image:url('../img/twitter@2x.png');
			}
			
			.contact__links span.linkedin{
				background-image:url('../img/linkedin@2x.png');
			}

		}
		
		.contact__links a,
		.contact__links a:link,
		.contact__links a:active,
		.contact__links a:visited 
		.contact__links a:hover {
			color:#777777 !important;
			font-family:'gotham-book', Arial, Helvetica, sans-serif !important;
			text-decoration:none !important;
		}


/* = Header
-----------------------------------------------*/
	
	/* -- Header ---------- */
	header#header{
		background:#FEE800;
	}
			
	@media only screen and (max-width:767px){
		header#header{
			height:100px;
		}	
	}

	body.page-id-2 header#header{
		background:none;

		width:100%;
		height:120px;
		
		z-index:1000;
		position:absolute;
	}

	body.page-id-2 #page-wrapper{
		z-index:0;
		position:relative;
	}

	
		/* -- Logo ---------- */
		header#header .header-logo{
			text-align:left;
		}
	
			header#header .header-logo img{
				width:auto;
				max-width:100%;
				height:auto;
				
				padding:20px 0px
			}
			
			@media only screen and (max-width:991px){
				header#header .header-logo img{
					max-width:132px;
				}	
			}
			
			@media only screen and (max-width:767px){
				header#header .header-logo img{
				}	
			}
	
	
		/* -- Button ---------- */
		.menu-button-open,
		.menu-button-close{
			width:44px;
			height:44px;
			
			display:block;
			position:absolute;
			right:25px;
			top:25px;
			z-index:100;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}
		
			.menu-button-open img,
			.menu-button-close img{
				width:44px;
				height:44px;
				display:block;
				position:relative;
			}
	
	
		/* -- Navigation ---------- */
		header#header .header-navigation{
			text-align:right;
		}
		
			header#header .header-navigation nav#navigation{
			}
		
				header#header .header-navigation nav#navigation ul{
					width:auto;
					height:auto;
					
					display:block;
					position:relative;
					float:right;
					
					margin:0px auto;
					padding:0px;
					border:0px none;
				}
			
					header#header .header-navigation nav#navigation ul li{
						width:auto;
						height:auto;
						
						display:block;
						position:relative;
						float:left;
						
						color:#000000;
						list-style:none;
						
						margin:0px auto;
						padding:0px 20px;
						border:0px none;
					}
					
					
					@media only screen and (min-width:768px){
			
						header#header .header-navigation nav#navigation ul li a{
							width:auto;
							height:auto;
							
							display:block;
							position:relative;
							float:left;
							
							color:#000000;
							list-style:none;
							
							margin:0px auto;
							padding:30px 0px;
							border:0px none;
						}
						
						body header#header .header-navigation nav#navigation ul li a{
							border-top:5px solid transparent; 
						}
			
						header#header .header-navigation nav#navigation ul li.nav-about{
							padding-left:0px;	
						}
				
						header#header .header-navigation nav#navigation ul li.nav-contactus{
							padding-right:0px;	
						}
						
						/* Hide NEWS in header navigation */
						header#header .header-navigation nav#navigation ul li.nav-news{
							display:none;
						}
				
						/* Centre header navigation for HOME */
						header#header .header-navigation-home{
							text-align:center;
						}
						
						header#header .header-navigation-home nav#navigation ul{
							display:inline-block;
							float:none;
						}

					}
				
				
						/* Page Selection */
						body.page-id-2 header#header .header-navigation nav#navigation ul li.nav-about a,
						body.page-id-5 header#header .header-navigation nav#navigation ul li.nav-sectors a,
						body.page-id-9 header#header .header-navigation nav#navigation ul li.nav-services a,
						body.page-id-13 header#header .header-navigation nav#navigation ul li.nav-howwework a,
						body.post-type-archive-news header#header .header-navigation nav#navigation ul li.nav-news a,
						body.single-news header#header .header-navigation nav#navigation ul li.nav-news a,
						body.page-id-15 header#header .header-navigation nav#navigation ul li.nav-contactus a{
							font-family:'gotham-bold', Arial, Helvetica, sans-serif;
							border-color:#000000;
						}
		
	
		/* -- Mobile Navigation ---------- */
		@media only screen and (max-width:767px){
			header#header .header-navigation-container{
				background:rgba(0,0,0,0.9);
				
				width:100%;
				height:100%;
				
				display:none;
				position:fixed;
				z-index:999;
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
			
			header#header .header-navigation{
				width:100%;
				min-width:280px;
				height:100%;
				
				display:flex;
				align-items:center;
				justify-content:center;
				
				position:relative;
				z-index:100;
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
		
				header#header .header-navigation nav#navigation ul{
					width:100%;
					height:auto;
					
				}
				
				header#header .header-navigation nav#navigation ul li{
					width:100%;	
				
					color:#FFFFFF;
					font-size:25px;
					line-height:50px;
					text-align:center;
				}
				
				/* Page Selection */
				body.page-id-2 header#header .header-navigation nav#navigation ul li.nav-about,
				body.page-id-5 header#header .header-navigation nav#navigation ul li.nav-sectors,
				body.page-id-9 header#header .header-navigation nav#navigation ul li.nav-services,
				body.page-id-13 header#header .header-navigation nav#navigation ul li.nav-howwework,
				body.post-type-archive-news header#header .header-navigation nav#navigation ul li.nav-news,
				body.single-news header#header .header-navigation nav#navigation ul li.nav-news,
				body.page-id-15 header#header .header-navigation nav#navigation ul li.nav-contactus{
					color:#EDEE31;
				}
		}
		
			
		
/* = Footer
-----------------------------------------------*/
	
	/* -- Footer ---------- */
	footer#footer{
	}
	
	footer#footer .footer-border{
		margin:0px auto 100px;
		padding:100px 0px 0px;
		border-top:1px solid #CCCCCC;
	}
	
		footer#footer .footer-logo{
			text-align:left;
		}
	
			footer#footer .footer-logo img{
				width:auto;
				max-width:100%;
				height:auto;
			}
	
		footer#footer .footer-links{
			text-align:right;
			margin-top:34px;
		}
	
			footer#footer .footer-links nav{
				width:100%;
				height:auto;
			}
	
				footer#footer .footer-links nav#footer-navigation{
					width:100%;
					height:auto;
				}
		
			footer#footer .footer-links nav#footer-navigation ul{
				width:auto;
				height:auto;
				
				display:inline-block;
				position:relative;	
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}
		
				footer#footer .footer-links nav#footer-navigation ul li{
					width:auto;
					height:auto;
					
					display:block;
					position:relative;
					float:left;
					
					list-style:none;
					
					margin:0px auto;
					padding:0px 5px;
					border:0px none;
				}
		
					footer#footer .footer-links nav#footer-navigation ul li.nav-footer-news{
						line-height:44px;
						padding:0px 20px 0px 30px;	
					}
		
					footer#footer .footer-links nav#footer-navigation ul li.nav-footer-divide{
						line-height:44px;
					}
		
					footer#footer .footer-links nav#footer-navigation ul li.nav-footer-contactus{
						line-height:44px;
						padding:0px 0px 0px 20px;
					}
		
		footer#footer .footer-links p{
			font-size:15px;
			line-height:40px;
			margin-top:-15px;
		}
					
	@media only screen and (max-width:991px){
		footer#footer .footer-logo img{
			max-width:90%;
		}
		footer#footer .footer-links p{
			font-size:12px;
			line-height:30px;
			margin-top:-10px;
		}
	}
					
	@media only screen and (max-width:767px){
		footer#footer .footer-logo img{
			max-width:70%;
		}
		footer#footer .footer-border{
			margin:0px auto 50px;
			padding:50px 0px 0px;
		}
		footer#footer .footer-links nav#footer-navigation ul li.nav-footer-linkedin{
			padding-right:0px;
		}
		
		footer#footer .footer-links nav#footer-navigation ul li.nav-footer-news,
		footer#footer .footer-links nav#footer-navigation ul li.nav-footer-divide,
		footer#footer .footer-links nav#footer-navigation ul li.nav-footer-contactus{
			display:none;
		}
		
		footer#footer .footer-links p{
			margin-top:0px;
		}
	}
	
	@media only screen and (max-width:479px){
		footer#footer .footer-logo img{
			max-width:50%;
		}
		footer#footer .footer-logo{
			text-align:center;
		}
		footer#footer .footer-links{
			text-align:center;
		}
		footer#footer .footer-links nav#footer-navigation ul li.nav-footer-linkedin{
			padding-right:5px;
		}
	}